.row
  .large-12.columns
    %h2
      Dashboard for
      = @restaurant.name

%ul.sub-nav.menu{role: "navigation", title: "Filter Menu List"}
  %li.active
    %span.show-for-sr You're viewing
    %li
      = link_to 'Create a menu', new_menu_path
    - if @restaurant.menus.any?
      %li
        = link_to "Add dish to #{@restaurant.menus.first.name}", new_menu_dish_path(@restaurant.menus.first)
    %li
      = link_to 'Edit details', edit_restaurant_path(@restaurant)
    %li
      = link_to 'My orders', '#'
    %li
      = link_to 'Security settings', '#'

  .large-12.columns.dashboard-content
    %p
      Hello
      = current_user.email
    %p
      This is your dashboard
    %p
      From here you can manage your restaurant details, create menus and add dishes.
      %br
        You can also manage your orders and handle your account security details.
