.medium-5.columns
  = image_tag @dish.image_url
.row
  .medium-4.columns
    %h2
      = @dish.name
    %p.small
      = @menu.name
    %p= @dish.description
    %p.left
      = ['Price:', @dish.price, 'kr'].join(' ') unless @dish.price.nil?
    %p
      = link_to 'Order', menu_dish_add_to_order_path(@menu, @dish), class: 'button expanded', method: :post
    %p= ['Allergy info:', @dish.allergy_info].join(' ') unless @dish.allergy_info.nil?
    %p= ['Ingredients:', @dish.ingredients].join(' ') unless @dish.ingredients.nil?
    %p= ['Calories:', @dish.calories, 'Kcal'].join(' ') unless @dish.calories.nil?
